body {
    margin: 0;
    padding: 0;
    /*font-family: 'Arial', sans-serif;*/
    background-color: #cb5a6b;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

}

/*.landing-page-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 20px;*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: #CDCDCD;*/
/*    overflow: hidden;*/
/*}*/

/*NEW*/
.landing-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 800px; /* Increase the maximum width */
    margin: 0 auto;
    padding: 20px; /* Increase padding for more space inside the component */
    background-color: #CDCDCD;
    overflow: hidden;
}

.section-header {
    margin-bottom: 5px; /* Increase margin bottom for more space between section headers and components */
}

.input-field,
.table-component,
.dashboard-link {
    width: 100%;
    max-width: 1000px; /* Increase the maximum width */
    padding: 15px; /* Increase padding for more space inside the components */
    margin-bottom: 15px; /* Increase margin bottom for more space between components */
    /*align-items: center;*/
    justify-content: center;
}
.dashboard-link {
    width: 100%;
    max-width: 1000px; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    margin-bottom: 15px; /* Adjust as needed */
    text-align: center; /* Center the text */
    font-size: 1.0rem; /* Increase the font size */
    font-weight: bold;
}

/*NEW*/

.table-component {
    overflow-x: auto;
}

@media (max-width: 768px) {
    .landing-page-content {
        padding: 10px;
    }
    .section-header {
        margin-bottom: 5px;
    }
}


.input-field {
    width: 100%;
    max-width: 600px;

}

.input-field .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between the TextField and Button */
    align-items: center;
}

.input-field .button-container .button {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width of the button */

}

/*Payment Page*/
.payment-page-container {
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*gap: 5px;*/
    max-width: 800px ; /* Increase the maximum width 800px */
    margin: 0 auto;
    padding: 10px; /* Increase padding for more space inside the component */
    background-color: #CDCDCD;
    overflow: hidden;

}

.checkout-page {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: initial;*/
    padding-top: 35px;
    padding-bottom: 35px;

    /*justify-content: center;*/
    /*max-width: 800px ;*/
}


.return-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;

}

.return-page-layout{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*gap: 50px;*/
    /*max-width: 500px ; !* Increase the maximum width 800px *!*/
    /*margin: 0 auto;*/
    padding: 40px; /* Increase padding for more space inside the component */
    background-color: #CDCDCD;
    overflow: hidden;

}

.return-page-message{
    /*width: 100%;*/
    /*max-width: 1000px; !* Adjust as needed *!*/
    /*padding: 15px; !* Adjust as needed *!*/
    /*margin-bottom: 15px; !* Adjust as needed *!*/
    text-align: center; /* Center the text */
    font-size: 1.2rem; /* Increase the font size */
    font-weight: bold;
}

